@font-face {
font-family: 'Champagne';
src: url('Champagne.ttf') format("truetype")

}	 
.Logo {
	height : 10%;
	width : 8%;
	float: left;
	margin: 10px;
}

.footer {
	background-color:#2e3131;
	position : relative;
	bottom : 0;
}

.Facebook {
	margin-left:1.5%;
	height: 3%;
	width: 3%;
}

.Twitter {
	margin-left:1%;
	height: 3%;
	width: 3%;
}

.IUT {
	height:16%;
	width:16%; 
	float:right;
}

.post{
	margin-right:30px;
	float:right;
	border:solid 5px;
	border-color:#336e7b;
}

iframe{
    position : relative;
	margin: 30px;
}

.text{
    margin-left :25px;
    font-family: "Champagne",arial,sans-serif;


}


header{
	margin-top:0;
	width:100%;
	text-align:center;
	background-color: rgba(0,0,0,0.5);
    margin-bottom: 2em;
}

h1{
	margin: 0;
	padding: 0.9em;
	color: white;
	font-family: "Champagne",arial,sans-serif;
}


body{
	margin:0;
	
}



body{
	margin:0;
	
}
