body{
	background-color:#CBCACA;
	position:relative;
	font-family: Arial;
	width:100%;
	margin:0;
	padding:0;
	border: 0;
}


section{
	margin-bottom: 0;
	margin-top: -30px;
	padding: 0;
	border: 0;
}

.button{
	left : 40%;
    margin-top: 17.5%;
	position: relative;
    border: 3.5px solid #ec644b;
    padding: 1.5% 3%;
    text-align: center;
    letter-spacing: 8px;
    color: #ec644b;
    display: inline-block;
    font-size: 30px;
   
}

div{
	position:relative;
}

.BackTop{
	position: fixed;
	height: 15%;
	width: 8%;
	right:1%;
	bottom:4%;
}

top{
	position: fixed;
	text-align:center;
	height: 15%;
	width: 8%;
	color:black;
	right:1%;
	bottom:12%;
}

.parallax1 {
    background-image: url("../image/sword.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax11 {
    background-image: url("../image/halo.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax12 {
    background-image: url("https://cdn.vox-cdn.com/thumbor/XrQ1hlHUj8-ok5nWOZQBiWAzJxA=/85x0:1014x619/1200x800/filters:focal(85x0:1014x619)/cdn.vox-cdn.com/uploads/chorus_image/image/29585969/mgsvgz_ss_demo_002.0.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax13 {
    background-image: url("../image/2d.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("../image/rcop.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax21 {
    background-image: url("https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/wb-883316896709-Full-Image_GalleryBackground-en-US-1482273989478._RI_SX940_.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax22 {
    background-image: url("../image/rcop.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax23 {
    background-image: url("http://www.wallpapermaiden.com/image/2018/08/08/arnold-schwarzenegger-terminator-3-22660-.jpeg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url("../image/ginshell.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax31{
    background-image: url("../image/neon.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax32 {
    background-image: url("../image/ginshell.jpg");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax33 {
    background-image: url("http://www.toonbarn.com/wordpress/wp-content/uploads/2017/12/little-astro-boy.png");
    height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
	background-color:#2e3131; 
}

.Facebook {
	margin-left:1.5%;
	height: 3%;
	width: 3%;
}

.Twitter {
	margin-left:1%;
	height: 3%;
	width: 3%;
}
.IUT {
	height:16%;
	width:16%; 
	float:right;
}

.Logo {
	position: fixed;
	height : 13%;
	width : 11%;
	left:0.8%;
	top:1.5%;
}


.description {
	position:relative;
	font-size:26px;
	font-family:Verdana;
	line-height:1.5;
	color:#81cfe0;
}

.TitreParagraphe {
	position:relative;
	font-size:36px;
	font-family:Verdana;
	font-weight:100;
	color:#ec644b;
	letter-spacing: 5px;
}
.divpar {
  text-align:right;
  margin-right : 7.2%;
  top:70%;
}